<div id="<%= dom_id pessoa %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.nome') %>:</strong>
    <%= pessoa.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.rua') %>:</strong>
    <%= pessoa.rua %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.numero') %>:</strong>
    <%= pessoa.numero %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.bairro') %>:</strong>
    <%= pessoa.bairro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.cidade') %>:</strong>
    <%= pessoa.cidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.pessoa.estado') %>:</strong>
    <%= pessoa.estado %>
  </p>

</div>