<div id="<%= dom_id pessoa %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rua:</strong>
    <%= pessoa.rua %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero:</strong>
    <%= pessoa.numero %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bairro:</strong>
    <%= pessoa.bairro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= pessoa.cidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estado:</strong>
    <%= pessoa.estado %>
  </p>

</div>
